@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@400;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .card:hover {
    transform: rotateX(180deg);
    transform-style: preserve-3d;
  }

  .card-back {
    transform: rotateX(180deg);
  }
}

@layer utilities {
  .text-last-right {
    text-align-last: right;
  }
}
